.Main {
  .content {
    margin: 90px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .service_box {
      width: 100%;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.059);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 40px;


      .service_bottom {
        display: flex;
        align-items: center;
        gap: 50px;
        .service_text {
          width: 250px;
          h2 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 15px;
            color: blueviolet;
            user-select: none;
          }
          p {
            font-size: 17px;
            font-weight: 300;
          }
        }
  
  
        .main_check_mark {
          display: flex;
          flex-direction: column;
          gap: 15px;
          .check_mark {
            display: flex;
            align-items: start;
            gap: 10px;
            width: 540px;
  
            .check_mark_logo {
              svg {
                width: 30px;
                height: 30px;
                padding: 4px 4px;
                background: blueviolet;
                color: white;
                border-radius: 50%;
              }
            }
          }
        }
      }


    }

  }
}




@media(max-width: 1170px) {
  .Main {
    .content {
      .service_box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 60px;
        .service_bottom {
          display: flex;
          align-items: start;
          gap: 50px;
          .service_text {
            width: 250px;
            h2 {
              font-size: 30px;
              font-weight: 600;
              margin-bottom: 15px;
              color: blueviolet;
              user-select: none;
            }
            p {
              font-size: 17px;
              font-weight: 300;
            }
          }
    
    
          .main_check_mark {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .check_mark {
              display: flex;
              align-items: start;
              gap: 10px;
              width: 100%;
    
              .check_mark_logo {
                svg {
                  width: 30px;
                  height: 30px;
                  padding: 4px 4px;
                  background: blueviolet;
                  color: white;
                  border-radius: 50%;
                }
              }
            }
          }
        }
  
  
      }
  
    }
  }
}



@media(max-width: 600px) {
  .Main {
    .content {
      .service_box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 60px;
        padding: 60px 20px;
        .service_bottom {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 50px;
          .service_text {
            width: 250px;
            h2 {
              text-align: center;
              font-size: 31px;
              font-weight: 600;
              margin-bottom: 15px;
              color: blueviolet;
              user-select: none;
            }
            p {
              text-align: center;
              font-size: 20px;
              font-weight: 300;
            }
          }
    
    
          .main_check_mark {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .check_mark {
              display: flex;
              align-items: start;
              gap: 20px;
              width: 100%;
    
              .check_mark_logo {
                svg {
                  width: 30px;
                  height: 30px;
                  padding: 4px 4px;
                  background: blueviolet;
                  color: white;
                  border-radius: 50%;
                }
              }
            }
          }
        }
  
  
      }
  
    }
  }
}