.video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  object-fit: cover;
  z-index: -1;
  will-change: transform;
  transform: translateZ(0);
}

.placeholder {
  @extend .video;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease;
}

.hide {
  opacity: 0;
}
