.video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  object-fit: cover;
  z-index: -1;

  @media (max-width: 768px) {
    // Мобилдик түзмөктөрдө видео өчүрүлөт
    display: none;
    background-image: url("/images/background-static.jpg");
    background-size: cover;
    background-position: center;
  }
}
