.Main_about {
    background: radial-gradient(circle at 15% 19%, rgba(137, 43, 226, 0.186), transparent 25%),
  radial-gradient(circle at 85% 40%, rgba(137, 43, 226, 0.186), transparent 24%),
  radial-gradient(circle at 15% 60%, rgba(137, 43, 226, 0.186), transparent 25%),
  radial-gradient(circle at 85% 90%, rgba(137, 43, 226, 0.186), transparent 24%),

  
}

.orderSiteWrapper{
  display: flex;
  justify-content: center;
}
