.projects {
  margin-top: 80px;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .projectText {
      display: flex;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 40px;
        text-align: center;
        text-shadow: 5px 5px 10px gray;
      }
      p {
        color: #ffffff;
        padding: 25px 0;
        font-size: 18px;
        line-height: 1.55;
        font-weight: 300;
        opacity: 0.65;
        background-position: center;
        border-color: transparent;
        border-style: solid;
        text-align: center;
        width: 70%;
      }
    }
    .projectBlocks {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      gap: 40px;
      .projectBlock {
        cursor: pointer;
        background-image: url('/assets/backgroundiant-projects.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 550px;
    height: 450px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgb(42, 42, 42);
    position: relative;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    padding: 20px;
    gap: 20px;

    background-color: rgba(0, 0, 0, 0.836); 
    background-blend-mode: overlay; 
        .bgImg {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 250px;
          border-radius: 15px !important;
        }
        .text {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          width: 250px;
          height: 200px;
          h4 {
            font-weight: 500;
            color: #c9c5c5;
          }
          button {
            width: 150px;
            height: 35px;
            border-radius: 50px;
            background: white;
            color: black;
            font-weight: 600;
            &:hover {
              transition: 0.8s;
              transform: scale(1.05);
            }
          }
        }
        img {
          width: 170px;
          height: 320px;
          z-index: 2;
          border-radius: 15px !important;
        }
      }
    }
    hr {
      margin-top: 40px;
      width: 70%;
      height: 1px;
    }




    .button {
      margin-top: 30px;
      button {
          font-family: "Circle", Arial, sans-serif;
          --black: #000000;
          --ch-black: #2a2a2a;
          --eer-black: #1b1b1b;
          --night-rider: #2e2e2e;
          --white: #ffffff;
          --af-white: #f3f3f3;
          --ch-white: #e1e1e1;
          border-radius: 30px;
          width: 180px;
      height: 50px;
      display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 0px 15px;
          background: transparent;
      border: none;
      color: white;
          position: relative;
          cursor: pointer;
          font-weight: 700;
          transition-duration: 0.2s;
          background-color: var(--ch-black);
      
          &:before,
          &:after {
              content: "";
              position: absolute;
      background: transparent;
      left: -2px;
          top: -2px;
          border-radius: 30px;
          background: linear-gradient(45deg,
                  var(--ch-black),
                  var(--eer-black),
                  var(--night-rider),
                  var(--ch-white),
                  var(--night-rider),
                  var(--eer-black),
                  var(--ch-black),
                  var(--ch-black));
          background-size: 400%;
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          z-index: -1;
          animation: steam 20s linear infinite;
      }
                          &:after {
                              filter: blur(50px);
      }
  }
}
  }
}


@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


@media (max-width: 700px) {
  .projects {
    .content {
      .projectBlocks {
        width: 100%;
        .projectBlock {
          width: 100%;
          height: 450px;
          .bgImg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 250px;
          }
          .text {
            h4 {
              font-weight: 500;
              color: #c9c5c5;
            }
            button {
              width: 150px;
              height: 35px;
            }
          }
          img {
            width: 170px;
            height: 320px;
            z-index: 2;
          }
        }
      }
      hr {
        margin-top: 40px;
        width: 70%;
        height: 1px;
      }
    }
  }
}

@media (max-width: 450px) {
  .projects {
    margin-top: 70px;
    .content {
      .projectBlocks {
        width: 100%;
        .projectBlock {
          width: 100%;
          height: 450px;
          .bgImg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 250px;
            object-fit: contain;
          }
          .text {
            h4 {
              font-size: 13px;
              font-weight: 500;
              color: #c9c5c5;
            }
            button {
              width: 130px;
              height: 35px;
            }
          }
          img {
            width: 160px;
            height: 320px;
            z-index: 2;
          }
        }
      }
      hr {
        margin-top: 40px;
        width: 70%;
        height: 1px;
      }
    }
  }
}

@media (max-width: 395px) {
  .projects {
    margin-top: 90px;
    .content {
      .projectBlocks {
        width: 100%;
        .projectBlock {
          width: 100%;
          height: 450px;
          .bgImg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 250px;
          }
          .text {
            h4 {
              font-size: 11px;
              font-weight: 500;
              color: #c9c5c5;
            }
            button {
              width: 120px;
              height: 35px;
            }
          }
          img {
            width: 140px;
            height: 270px;
            z-index: 2;
          }
        }
      }
      hr {
        margin-top: 40px;
        width: 70%;
        height: 1px;
      }
    }
  }
}
