.Main {
  width: 100%;
  // background: rgb(255, 255, 255);
  padding: 50px 0;

  .content {
    margin-top: 160px;

    // ABOUT BLOCK
    .about_block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .about_text {
        h5 {
          color: rgba(255, 255, 255, 0.618);
          font-size: 18px;
          font-weight: 200;
          margin-bottom: 10px;
        }
        h1 {
          color: white;
          font-size: 46px;
          font-weight: 300;
          margin-bottom: 50px;

          span {
            color: blueviolet;
          }
        }
        h4 {
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 40px;
          line-height: 30px;
        }
        p {
          font-size: 17px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.689);
          line-height: 27px;
        }
      }
      .about_img {
        background-image: url("/assets/iant-about-img.jfif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 590px;
        height: 350px;
        border-radius: 10px;
      }
    }

    // DIGITAL INFORMATION
    .digital_block {
      margin: 100px 0;
      width: 100%;
      padding: 30px 20px;
      background: rgba(255, 255, 255, 0.059);
      backdrop-filter: blur(50px);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .block1 {
        display: flex;
        flex-direction: column;
        gap: 80px;

        h6 {
          font-size: 19.5px;
          font-weight: 300;
          line-height: 27px;

          span {
            color: blueviolet;
          }
        }

        .under_block {
          display: flex;
          align-items: center;
          gap: 20px;

          .year_block {
            p {
              font-size: 15px;
              font-weight: 300;
              color: rgba(255, 255, 255, 0.852);
              margin-bottom: 3px;
            }

            h5 {
              font-size: 40px;
              font-weight: 300;
              color: blueviolet;
            }
          }

          .underline {
            height: 57px;
            width: 3px;
            background: rgba(255, 255, 255, 0.574);
          }

          p {
            font-size: 15px;
            font-weight: 300;
            line-height: 23px;
            color: rgba(255, 255, 255, 0.852);
          }
        }
      }

      .main_dig_block {
        display: flex;
        align-items: center;
        gap: 14px;

        .block2 {
          display: flex;
          flex-direction: column;
          gap: 83px;
          width: 270px;
          height: 250px;
          background: rgba(255, 255, 255, 0.074);
          border-radius: 5px;
          padding: 26px 18px;

          h4 {
            font-size: 25px;
            font-weight: 300;
          }

          p {
            font-size: 15px;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.814);
            line-height: 22px;
          }
        }

        .block3 {
          display: flex;
          flex-direction: column;
          gap: 82px;
          width: 270px;
          height: 250px;
          background: rgba(255, 255, 255, 0.074);
          border-radius: 5px;
          padding: 26px 18px;

          h4 {
            font-size: 25px;
            font-weight: 300;
          }

          p {
            font-size: 15px;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.814);
            line-height: 22px;
          }
        }

        .block4 {
          display: flex;
          flex-direction: column;
          gap: 80px;
          width: 270px;
          height: 250px;
          background: rgba(255, 255, 255, 0.074);
          border-radius: 5px;
          padding: 26px 18px;

          h4 {
            font-size: 25px;
            font-weight: 300;
          }

          p {
            font-size: 15px;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.814);
            line-height: 22px;
          }
        }
      }
    }
  }
}


@media(max-width: 1235px) {
    .Main {
        .content {
            .about_block {
                .about_img {
                    width: 500px;
                    height: 310px;
                }
            }
            
// DIGITAL INFORMATION
.digital_block {
  margin: 100px 0;
  width: 100%;
  padding: 30px 20px;
  background: rgba(255, 255, 255, 0.059);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .block1 {
    display: flex;
    flex-direction: column;
    gap: 80px;

    h6 {
      font-size: 12px;
      font-weight: 300;
      line-height: 27px;

      span {
        color: blueviolet;
      }
    }

    .under_block {
      display: flex;
      align-items: center;
      gap: 20px;

      .year_block {
        p {
          font-size: 15px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.852);
          margin-bottom: 3px;
        }

        h5 {
          font-size: 40px;
          font-weight: 300;
          color: blueviolet;
        }
      }

      .underline {
        height: 57px;
        width: 3px;
        background: rgba(255, 255, 255, 0.574);
      }

      p {
        font-size: 15px;
        font-weight: 300;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.852);
      }
    }
  }

  .main_dig_block {
    display: flex;
    align-items: center;
    gap: 14px;

    .block2 {
      display: flex;
      flex-direction: column;
      gap: 83px;
      width: 250px;
      height: 250px;
      background: rgba(255, 255, 255, 0.074);
      border-radius: 5px;
      padding: 26px 18px;

      h4 {
        font-size: 25px;
        font-weight: 300;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.814);
        line-height: 22px;
      }
    }

    .block3 {
      display: flex;
      flex-direction: column;
      gap: 82px;
      width: 250px;
      height: 250px;
      background: rgba(255, 255, 255, 0.074);
      border-radius: 5px;
      padding: 26px 18px;

      h4 {
        font-size: 25px;
        font-weight: 300;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.814);
        line-height: 22px;
      }
    }

    .block4 {
      display: flex;
      flex-direction: column;
      gap: 80px;
      width: 250px;
      height: 250px;
      background: rgba(255, 255, 255, 0.074);
      border-radius: 5px;
      padding: 26px 18px;

      h4 {
        font-size: 25px;
        font-weight: 300;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.814);
        line-height: 22px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .Main {
    .content {
      .about_block {
        .about_img {
          width: 500px;
          height: 310px;
        }
      }
    }
  }
}

@media (max-width: 1110px) {
  .Main {
    .content {
      .about_block {
        .about_text {
          h5 {
            font-size: 18px;
          }
          h1 {
            font-size: 39px;
            margin-bottom: 30px;
          }
          h4 {
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 30px;
          }
          p {
            font-size: 14px;
            line-height: 23px;
          }
        }
        .about_img {
          width: 420px;
          height: 260px;
        }
      }
    }
  }
}

@media (max-width: 1110px) {
  .Main {
    .content {
      .about_block {
        .about_text {
          h5 {
            font-size: 18px;
          }
          h1 {
            font-size: 33px;
            margin-bottom: 30px;
          }
          h4 {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 30px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
          }
        }
        .about_img {
          width: 380px;
          height: 230px;
        }
      }
    }
  }
}


@media(max-width: 764px) {
    .Main {
        .content {
            margin-top: -70px;
            .about_block {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .about_img {
                    width: 320px;
                    height: 200px;
                }
            }


            .digital_block {
                display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 25px;
                .main_dig_block {
                  width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 25px;

                    .block2 {
                      width: 100%;
                    }

                    .block3 {
                      width: 100%;
                    }

                    .block4 {
                      width: 100%;
                    }
                }
            }
@media (max-width: 764px) {
  .Main {
    .content {
      margin-top: -70px;
      .about_block {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .about_img {
          width: 320px;
          height: 200px;
        }
      }

      .digital_block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        .main_dig_block {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 25px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .Main {
    .content {
      .about_block {
        .about_img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .Main {
    .content {
      .about_block {
        .about_text {
          h5 {
            font-size: 16px;
          }
          h1 {
            font-size: 25px;
            margin-bottom: 20px;
          }
          h4 {
            font-size: 10px;
            line-height: 20px;
            margin-bottom: 19px;
          }
          p {
            font-size: 9px;
            line-height: 20px;
          }
        }
        .about_img {
          width: 100%;

          height: 170px;
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .Main {
    .content {
      .about_block {
        .about_text {
          h5 {
            font-size: 16px;
          }
          h1 {
            font-size: 25px;
            margin-bottom: 19px;
          }
          h4 {
            font-size: 10px;
            line-height: 20px;
            margin-bottom: 17px;
          }
          p {
            font-size: 8px;
            line-height: 18px;
          }
        }
        .about_img {
          width: 100%;
          height: 130px;
        }
      }
    }
  }
}
        }
      }
    }
  }
}
}