.decides {
  // margin-top: 150px;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
    .decidesText {
      display: flex;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 40px;
        text-align: center;
        text-shadow: 5px 5px 10px gray;
      }
      p {
        color: #ffffff;
        padding: 26px 0;
        font-size: 18px;
        line-height: 1.55;
        font-weight: 300;
        opacity: 0.65;
        background-position: center;
        border-color: transparent;
        border-style: solid;
        text-align: center;
        width: 70%;
      }
    }
    .blocks {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 20px;
      flex-wrap: wrap;
      .block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 60px;
        background: black;
        border-radius: 10px;
        border: 1px solid gray;
        cursor: pointer;
        &:hover {
          transition: 0.8s;
          box-shadow: 5px 5px 10px gray;
          h4 {
            transition: 0.8s;
            text-shadow: 5px 5px 10px white;
          }
        }
        h4 {
          width: 80%;
          font-size: 15px;
          font-weight: 400;
          display: flex;
          align-items: start;
          text-align: center;
          gap: 10px;
        }
      }
    }
    hr {
      margin-top: 40px;
      width: 70%;
      height: 1px;
    }
  }
}
