.Form {
    .content {
        display: flex;
        flex-direction: column;
        width: 420px;
        height: 420px;
        padding: 30px 36px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.059);

        h5 {
            font-size: 17px;
            font-weight: 300;
        } 


        form {
            margin-top: 40px;
            display: flex;
            flex-direction: column;

            input {
                height: 60px;
                border: none;
                background: transparent;
                border-bottom: 1px solid rgba(255, 255, 255, 0.578);
                outline: none;
                font-size: 16px;
            }

            button {
                margin: 24px 0;
                width: 180px;
                height: 45px;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 300;
                color: white;
                background: blueviolet;
            }
        }

        p {
            margin-top: 30px;
            font-size: 13px;
            font-weight: 300;

            span {
                color: blueviolet;
            }
        }
    }
}





@media(max-width: 768px) {
    .Form {
        width: 100%;
        .content {
            width: 100%;
            height: 420px;
            padding: 30px 36px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.059);
    
            h5 {
                font-size: 16px;
                font-weight: 300;
            } 
    
    
            form {
                input {
                    font-size: 16px;
                }
    
                button {
                    margin: 24px 0;
                    width: 180px;
                    height: 45px;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 300;
                    color: white;
                    background: blueviolet;
                }
            }
    
            p {
                margin-top: 30px;
                font-size: 13px;
                font-weight: 300;
    
                span {
                    color: blueviolet;
                }
            }
        }
    }    
}





@media(max-width: 430px) {
    .Form {
        width: 100%;
        .content {
            width: 350px;
            height: 440px;
            padding: 30px 36px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.059);
    
            h5 {
                font-size: 15px;
                font-weight: 300;
            } 
    
    
            form {
                input {
                    font-size: 13px;
                }
    
                button {
                    width: 150px;
                    height: 45px;
                    font-size: 13px;
                }
            }
    
            p {
                font-size: 13px;
                span {
                    color: blueviolet;
                }
            }
        }
    }    
}




@media(max-width: 370px) {
    .Form {
        width: 100%;
        .content {
            width: 310px;
            height: 440px;
            padding: 30px 36px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.059);
    
            h5 {
                font-size: 15px;
                font-weight: 300;
            } 
    
    
            form {
                input {
                    font-size: 13px;
                }
    
                button {
                    width: 150px;
                    height: 45px;
                    font-size: 13px;
                }
            }
    
            p {
                font-size: 13px;
                span {
                    color: blueviolet;
                }
            }
        }
    }    
}